@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note



<div class="row">
    <div class="col-2">
        <span>
            @(Model.IsCompleted ? "Done" : "In process");
        </span>
    </div>
    <div class="col-2">
        <span>@Model.Name</span>
    </div>
    <div class="col-2">
        <span>@Model.Description</span>
    </div>
    <div class="col-2">
        <span>@Model.ExpireDate</span>
    </div>
    <div class="col-2">
        <span>@Model.CreatedTimestamp</span>
    </div>
    <div class="col-1">
        <a href="/home/CheckDelete/@Model.Id"><button class="btn-close w-25"></button></a>
    </div>
    <div class="col-1">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-2">
                    <span>@Model.Description</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
