@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note



<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-between align-items-center">
    <div class="col-2">
        <span>
            @(Model.IsCompleted ? "Done" : "In process");
        </span>
    </div>
    <div class="col-2">
       <a href="~/home/edite/"></a> <span>@Model.Name</span>
    </div>
    <div class="col-2">
        <span class="fs-0">@Model.Description</span>
    </div>
    <div class="col-2">
        <span>@Model.ExpireDate</span>
    </div>
    <div class="col-2">
        <span>@Model.CreatedTimestamp</span>
    </div>
    <div class="col-1">
        <a href="/home/CheckDelete/@Model.Id">
            <i class="fa-solid fa-trash-can"></i>
        </a>
    </div>

</div>