@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note



<div class="row">
    <div class="col-2">
        <span>
            @(Model.IsCompleted ? "Done" : "In process");
        </span>
    </div>
    <div class="col-2">
        <span>@Model.Name</span>
    </div>
    <div class="col-2">
        <span class="fs-0">@Model.Description</span>
    </div>
    <div class="col-2">
        <span>@Model.ExpireDate</span>
    </div>
    <div class="col-2">
        <span>@Model.CreatedTimestamp</span>
    </div>
    <div class="col-1">
        <a href="/home/CheckDelete/@Model.Id"><button class="btn-close w-25"></button></a>
    </div>

</div>