@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note

<div class="note shadow-sm p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-between align-items-center text-center">
    <div class="col-1 p-1">
        <span>
            @(Model.IsCompleted ? "Done" : "In process")
        </span>
    </div>
    <div class="col-2 name p-2">
        <a href="~/home/details/@Model.Id">
            <span>@Model.Name</span>
        </a>
    </div>
    <div class="col-2 p-2">
        <span>@Model.ExpireDate</span>
    </div>
    <div class="col-2 p-2">
        <span>@Model.CreatedTimestamp</span>
    </div>
    <div class="col-3 overflow-auto">
        <span class="fs-0">@Model.Description</span>
    </div>
    <div class="col-1">
        <a href="/home/edit/@Model.Id">
            <button class="btn text-secondary" data-bs-title="Редактировать" data-bs-toggle="tooltip">
                <i class="fa-solid fa-pencil" style="color:cadetblue"></i>
            </button>
        </a>
    </div>
    <div class="delete col-1">
        <button class="btn text-secondary" data-bs-title="Delete_note" data-bs-toggle="tooltip"> 
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
    <div class="deleteId d-none" id="delete-Id">@Model.Id</div>
</div>