@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoSimple.Models.Pagination;
@using ToDoSimple.Controllers;
@model PaginatedList<ToDoSimple.Models.Note>;
@{
    ViewData["Title"] = "Home Page";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<head>
    <script src="~/js/TestJS.js"></script>
</head>

<div class="shadow-sm p-3 mt-4 rounded bg-white">
@*     <span>TEST BUTTONS</span>
    <div class="row">
        <div class="col-1  p-3">
            <a href="#" id="some">
                <i class="fa-solid fa-bug"></i>
            </a>
        </div>
        <div class="col-1  p-3">
            <a href="/Home/Index2" id="gr">
                <i class="fa-solid fa-bug" style="color:forestgreen"></i>
            </a>
        </div>
    </div> *@

    <div class="row">
        <div class="col-12">
            <div class=" font-monospace">
                <tbody>
                    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-between align-items-center text-center" style="background-color:#eceff4">
                        <div class="col-1">
                            <span>
                                State
                            </span>
                        </div>
                        <div class="col-2 name">    
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Name</a>
                        </div>
                        <div class="col-2">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSort"]">ExpireDate</a>
                        </div>
                        <div class="col-2">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["CreateDataSort"]">Create Date</a>
                        </div>
                        <div class="col-3 overflow-auto">
                            <span class="fs-0">Description</span>
                        </div>
                        <div class="col-1">
                            <i class="fa-solid fa-pencil" style="color:lightgray"></i>
                        </div>
                        <div class="col-1">
                                <i class="fa-solid fa-trash-can" style="color:lightgrey"></i>
                        </div>
                    </div>
                    @foreach (var note in Model)
                    {
                        @await Html.PartialAsync("_PartialNoteView.cshtml", note)
                    }
            </div>
            <nav aria-label="Pagiantion">
                <ul class="pagination justify-content-center">

                    <link class="page-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled" data-bs-toggle="tooltip" data-bs-placement="left" title="prev page">
                        &laquo
                    </a>
                    </li>
                    <link class="page-item">
                    <form asp-action="Index"
                          asp-route-sortOrder="@ViewData["CurrentSort"]"
                          asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <input type="number" min="1" max="@Model.TotalPages" name="pageNumber" value="@Model.PageIndex" placeholder="@Model.PageIndex" />
                        <input class="fa-solid w -50" type="submit" value="go" />
                    </form>
                    </li>
                    <link class="page-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled" data-bs-toggle="tooltip" data-bs-placement="right" title="next page">
                        &raquo
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="m-4">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Dropdown</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another action</a>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script src="~/js/DeleteNote.js"></script>
}