@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoSimple.Models.Pagination;
@using ToDoSimple.Controllers;
@model PaginatedList<ToDoSimple.Models.Note>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-8">
        <form asp-action="index" method="get">
            <div class="form-floating">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input class="btn btn-outline-info w -75" type="submit" value="Search" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <th><u></u></th>
                    <th>
                        <u>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Name</a>
                        </u>
                    </th>
                    <th>
                        <u>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSort"]">ExpireDate</a>
                        </u>
                    </th>
                    <th><u>Is Completed</u></th>
                    <th>
                        <u>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["CreateDataSort"]">Create Date</a>
                        </u>
                    </th>
                    <th><u>Details</u></th>
                </tr>
                <tr>
                    @foreach (var note in Model)
                    {
                    <tr>
                        <th>
                            <a href="/home/delete/@note.Id"><button class="btn-close w-25"></button></a>
                        </th>
                        <th class="text-start"><a href="/home/edit/@note.Id">@note.Name</a></th>
                        <th>@note.ExpireDate</th>
                        <th>@(note.IsCompleted ? "Done!" : "In process")</th>
                        <th>@note.CreatedTimestamp</th>
                        <th>
                            <a href="/home/details/@note.Id">Details</a>
                        </th>
                    </tr>
                    <tr>
                    </tr>
                    }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
        @*         <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
        <li class="page-item">
        @if (Model.HasPreviousPage)
        {
        <a asp-action="Index"
        asp-route-pageNumber="@(Model.PageNumber-1)"
        class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
        }
        </li>
        @if (Model.PageNumber == 1)
        {
        <li class="page-item active"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber)">@(Model.PageNumber)</a></li>
        }
        @if (Model.PageNumber > 1 && Model.PageNumber < Model.TotalPages)
        {
        <li class="page-item"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber -1)">@(Model.PageNumber - 1)</a></li>
        <li class="page-item active"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber)">@(Model.PageNumber)</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber+1)">@(Model.PageNumber + 1)</a></li>

        }
        @if (Model.PageNumber == Model.TotalPages)
        {
        <li class="page-item"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber -1)">@(Model.PageNumber - 1)</a></li>
        <li class="page-item active"><a class="page-link" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber)">@(Model.PageNumber)</a></li>
        }
        <li>
        @if (Model.HasNextPage)
        {
        <a asp-action="Index"
        asp-route-pageNumber="@(Model.PageNumber+1)"
        class="btn btn-outline-dark">
        <span aria-hidden="true">&raquo;</span>
        </a>
        }
        </li>
        </ul>
        <span>@Model.PageNumber page from @Model.TotalPages pages </span>
        </nav> *@

    </div>
</div>

<form class="mt-3" asp-controller="Home" asp-action="Create" method="get">
    <button class="btn btn-outline-success w -100">Create new note</button>
</form>

<form class="mt-3" asp-controller="Account" asp-action="logout">
    <button class="btn btn-outline-danger btn-sm">Logout</button>
</form>

