@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoSimple.Models.Pagination;
@using ToDoSimple.Controllers;
@model PaginatedList<ToDoSimple.Models.Note>;
@{
    ViewData["Title"] = "Home Page";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<head>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Details.js"></script>
</head>
<div class="text-center">
    <div class="col-8">
        <form asp-action="index" method="get">
            <div class="form-floating">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input class="btn btn-outline-info w -75" type="submit" value="Search" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
        <table class="table font-monospace">
            <tbody>
                    @foreach (var note in Model)
                    {
                    <tr>
                        <th>
                                @await Html.PartialAsync("_PartialNoteView.cshtml", note)
                        </th>
                    </tr>
                    <tr>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-2">
                                        <span>@note.Description</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
            </tbody>
        </table>

        <nav aria-label="Pagiantion">
            <ul class="pagination justify-content-center">

                <link class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled" data-bs-toggle="tooltip" data-bs-placement="left" title="prev page">
                    &laquo
                </a>
                </li>
                <link class="page-item">
                <form asp-action="Index"
                      asp-route-sortOrder="@ViewData["CurrentSort"]"
                      asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <input type="number" min="1" max="@Model.TotalPages" name="pageNumber" value="@Model.PageIndex" placeholder="@Model.PageIndex" />
                    <input class="btn btn-outline-info w -50" type="submit" value="Go" />
                </form>
                </li>
                <link class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled" data-bs-toggle="tooltip" data-bs-placement="right" title="next page">
                    &raquo
                </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<form asp-controller="Home" asp-action="Create" method="get">
    <button class="btn btn-outline-success w -100">Create new note</button>
</form>

<form class="mt-3" asp-controller="Account" asp-action="logout">
    <button class="btn btn-outline-danger btn-sm">Logout</button>
</form>

<div class="mt-3">
    <button type="button" class="btn btn-outline-danger btn-sm" id="some">SOME</button>
</div>

<div class="col-1 mt-3">
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            title="TEST BTN" id="details" data-bs-toggle="modal" 2data-bs-target="1#exampleModal">
        Details(modal+fetch)
    </button>
</div>

@section Scripts
{
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}