@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoSimple.Models.Pagination;
@using ToDoSimple.Controllers;
@model PaginatedList<ToDoSimple.Models.Note>;
@{
    ViewData["Title"] = "Home Page";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<head>
    <script src="~/js/TestJS.js"></script>
</head>

<div class="shadow-sm p-3 mt-4 rounded bg-white">
    @*     <span>TEST BUTTONS</span>
    <div class="row">
    <div class="col-1  p-3">
    <a href="#" id="some">
    <i class="fa-solid fa-bug"></i>
    </a>
    </div>
    <div class="col-1  p-3">
    <a href="/Home/Index2" id="gr">
    <i class="fa-solid fa-bug" style="color:forestgreen"></i>
    </a>
    </div>
    </div> *@
    <div class="row">
        <div class="col-12">
            <div class=" font-monospace">
                <tbody>
                    <div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded d-flex justify-content-between align-items-center text-center" style="background-color:#eceff4">
                        <div class="col-1">
                            <span>
                                State
                            </span>
                        </div>
                        <div class="col-2 name">
                            Name
                        </div>
                        <div class="col-2">
                            ExpireDate
                        </div>
                        <div class="col-2">
                            Create Date
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort by
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["CreateDataSort"]=CreateDateDesc">Default</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["StateSort"]">State</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Name</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSort"]">ExpireDate</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["CreateDataSort"]">Create Date</a></li>
                            </ul>
                        </div>
                    </div>
                    @foreach (var note in Model)
                    {
                        @await Html.PartialAsync("_PartialNoteView.cshtml", note)
                    }
            </div>
            <nav aria-label="Pagiantion">
                <ul class="pagination justify-content-center m-4">

                    <link class="page-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled" data-bs-toggle="tooltip" data-bs-placement="left" title="prev page">
                        &laquo
                    </a>
                    </li>
                    <link class="page-item">
                    <form asp-action="Index"
                          asp-route-sortOrder="@ViewData["CurrentSort"]"
                          asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <input type="number" min="1" max="@Model.TotalPages" name="pageNumber" value="@Model.PageIndex" placeholder="@Model.PageIndex" />
                        <input class="fa-solid w -50" type="submit" value="go" />
                    </form>
                    </li>
                    <link class="page-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled" data-bs-toggle="tooltip" data-bs-placement="right" title="next page">
                        &raquo
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script src="~/js/DeleteNote.js"></script>
}